/* Styles go here */
.info-container {
  text-align:center;
}
.info {
	  vertical-align:top;
  	display:inline-block;
  	border: 1px solid black;
	border-radius: 10px;
	margin: 15px;
	padding: 0 5px 15px 5px;
	width: 40%;
	float: center;
}
