.info {
	  vertical-align:top;
  	display:inline-block;
  	border: 1px solid black;
	margin: 15px;
	padding: 10px 10px 10px 10px ;
	width: 90%;
	float: center;
}

img {
	float:right;
    height: auto; 
    width: auto; 
    padding: 10px 10px 10px 10px ;
    max-width: 300px; 
    max-height: 300px;
}