<div ng-controller="addController">
    <section class="info">
      <form name="myform">
        <h3> Enter item Details </h3>
        <p> Item
          <input type="text" placeholder="Enter here" ng-model="item">
        </p>
        <button ng-click="submit(item)">Submit</button>
         <button ng-click="testingAPI()">Testing GET API</button>
      </form>

      <ul>
        <li ng-repeat="item in items track by $index" ng-click="remove($index)">
        {{ item }}
        </li>
      </ul>

    </section>
   
</div>